[Unit]
Description=Gunicorn service to servce Flask-veg app
After=network.target

[Service]
User=gunicorn
Group=www-data
WorkingDirectory=/opt/flask-veg

ExecStart=/usr/local/bin/gunicorn --bind=unix:/tmp/gunicorn.sock --workers=5 wsgi:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target